@media only screen and (min-width: 1268px) {

}

@media only screen and (max-width: 1268px) and (min-width: 900px) {

  div.two-col {
    width: 30%;
  }

  div.player-stats {
    width: 80%;
    margin-top: 32px;
    font-size: 14px;
    text-align: left;
  }

  .stat-entry hr {
    margin-left: 0 !important;
  }

  div.player-feature {
    float: none;
    min-width: 100px !important;
  }

  div.player-analysis {
    float: right;
    width: 48%;
    margin-top: 20px;
    font-size: 12px;
  }

  img.player-image {
    float: left;
    margin: 10px;
    padding: 8px;
    min-height: 80px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 0px) {
  div.banner {
    width: auto;
  }
  div.two-col {
    width: auto;
    width: 350px;
  }

  div.player-analysis {
    margin: 5px;
    font-size: 12px;
  }

  div.player-stats {
    width: 40%;
    font-size: 14px;
    margin: 6px;
  }

  span.player-name {
    margin: 0;
  }

  div.player-feature {
    min-width: 100px;
  }
}

* {
  margin: auto;
  padding: 0;
}

td {
  padding-left: 5px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 8px;
}

h1 {
  font-size: 4em;
  padding: 8px;
}

h2 {
  padding: 25px;
}

h2.section-title {
  font-size: 3em;
  font-weight: 800;
}

ul {
  margin-top: 0;
}

img {
  padding: 16px;
  margin: 16px;
}

hr.intro {
  background-color: black;
  width: 40%;
  height: 4px;
  border: 2px solid black;
  border-radius: 10px;
}

.two-col {
  width: 40%;
  display: inline-block;
}

.three-col {
  width: 27.5%;
  display: inline-block;
  margin: 12px;
  padding: 8px;
  min-height: 230px;
}

#footer .two-col  p {
  padding: 16px;
  margin: 20px;
  line-height: 15px;
  font-size: 16px;
}

.three-col .player-item{
  width: 25%;
  display: inline-block;
  margin: 12px;
}

.link {
  text-decoration: none;
  border: 5px solid #acf0ea;
  border-radius: 10px;
  background-color: #acf0ea;
  color: #000000;
  font-weight: 600;
}

.link:hover {
  opacity: .75;
}

.player-feature {
  margin-left: 12px;
  padding: 8px 0;
  width: 100%;
  /* min-height:100px;
  min-width: 180px; */
}

.player-image#red {
  border: 4px solid red;
  box-shadow: 2px -3px 20px red;
}

.player-image#yellow {
  border: 4px solid yellow;
  box-shadow: 2px -3px 20px yellow;
}

.player-image#green {
  border: 4px solid green;
  box-shadow: 2px -3px 20px green;
}

.player-image {
  border: 2px solid black;
  border-radius: 10px;
  min-width: 75px;
  background-color: #aaaaaacc;
}

.player-name {
  font-size: 22px;
  font-weight: 600;
  margin: 12px;
}

.analysis {
  margin: 2px;
}

.player-analysis {
  text-align: left;
  margin: 20px;
}

.stat-entry {
  margin: 12px 8px;
  padding: 6px;
  display: inline-block;
}

.stat-entry hr {
  height: 2px;
  width: 50%;
  background-color: #000;
  margin: 4px auto;
}

.stat-entry strong {
  margin: 12px auto;
  padding: 6px;
}

#home {
  min-height: 300px;
  background-color: #acf0ea;
  margin: 0;
  padding: 0;
}

#footer {
  margin: 20px;
  padding: 8px;
}

.banner {
  padding: 20px;
  width: 50%;
}

.banner p {
  margin: 20px;
  padding: 8px;
  font-size: 22px;
}

.banner hr {
  height: 4px;
  border: 1px solid grey;
  border-radius: 2px;
  background-color: grey;
}

.player-item {
  margin: 12px;
  padding: 6px;
  border: 2px solid grey;
  max-width: 515px;
}

#menu {
  position: fixed;
  left: 0;
  width: 100%;
  text-align: left;
  background-color: grey;
  width: 10%;
  float: left;
  border-left: 3px solid black;
}

#menu span {
  margin: 5px;
  padding: 5px;
}

.card {
  width: 75%;
  border-radius: 20px;
  min-height: 310px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  position: relative;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.featured-content{ background-color: #f1f1f1;}

.players {
  margin: 20px auto;
}

table.stats {
  padding: 16px;
  margin: 16px auto;
}

.content {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%
}

.rank {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 26px;
  font-weight: 600;
}